<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      India TrueJobs
    </ion-title>
    <ion-buttons end>
        <img alt="logo" height="40" src="assets/imgs/logo.png">
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-list [virtualScroll]="items"  approxItemHeight="360px">
    <ion-card *virtualItem="let item">
      <div (click)="itemTapped($event, item.id, item.title)">
        <img src="{{item.images[0].url}}" />
        <div class="card-title">{{item.title}}</div>
        <div class="card-subtitle" *ngIf=item.location>{{item.location.name | limitTo: 60 }}</div>
      </div>
      <ion-item>
        <button *ngFor="let label of item.labels" (click)="labelTapped($event, label)" ion-button outline item-left icon-left>
          <ion-icon name="albums"></ion-icon>
          {{label}}
        </button>
      </ion-item>
      <ion-item>
        <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="item.published"></ion-datetime>
      </ion-item>
    </ion-card>
  </ion-list>

</ion-content>