<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Our jobs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list [virtualScroll]="items">
    <ion-card *virtualItem="let item">
      <button ion-item (click)="itemTapped($event, item)">
        <ion-avatar item-left>
          <img src="{{item.images[0].url}}">
        </ion-avatar>
        <h2>{{item.title}}</h2>
      </button>

      <ion-row>
        <ion-col>
          <button *ngFor="let label of item.labels" (click)="labelTapped($event, label)" ion-button outline item-end icon-left>
            <ion-icon name="albums"></ion-icon>
            {{label}}
          </button>
        </ion-col>
        <ion-col>
            <ion-datetime displayFormat="MMMM DD, YYYY" [(ngModel)]="item.published"></ion-datetime>
        </ion-col>
        <ion-col *ngIf=item.location>
          <ion-label>{{item.location.name | limitTo: 40 }}</ion-label>
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-list>

</ion-content>