<ion-header>
  <ion-navbar>
    <ion-title>{{label}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list [virtualScroll]="items" approxItemHeight="360px">
    <ion-card *virtualItem="let item">
      <button ion-item (click)="itemTapped($event, item.id, item.title)">
        <ion-avatar *ngIf=item.images item-left>
          <img src="{{item.images[0].url}}">
        </ion-avatar>
        {{item.title}}
      </button>

      <ion-item>
        <ion-datetime disabled displayFormat="MMM DD, YYYY" [(ngModel)]="item.published"></ion-datetime>
      </ion-item>
      <ion-item *ngIf=item.location>
        <ion-icon name="navigate"></ion-icon>
        {{item.location.name | limitTo: 40 }}
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>